.text-center {
    text-align: center;
}

p {
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.text-color-white {
    color: white;
}

.text-dutch {
    font-family: Barlow-Thin;
    margin: auto;
}

.text-jp-normal {
    font-family: NotoSansJP-Light-Alphabetic;
    font-weight: normal;
    margin: auto;
}

.text-jp-thin {
    font-family: NotoSansJP-Thin;
    margin: auto;
}

@font-face {
    font-family: 'Barlow-Thin';
    src: url('../fonts/Barlow-Thin.woff2') format('woff2'),
         url('../fonts/Barlow-Thin.woff') format('woff'),
         url('../fonts/Barlow-Thin.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'NotoSansJP-light-Alphabetic';
    src: url('../fonts/NotoSansJP-Light-Alphabetic.woff2') format('woff2'),
         url('../fonts/NotoSansJP-Light-Alphabetic.woff') format('woff'),
         url('../fonts/NotoSansJP-Light-Alphabetic.ttf') format('truetype');
    font-weight:normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'NotoSansJP-Thin';
    src: url('../fonts/NotoSansJP-Thin.woff2') format('woff2'),
         url('../fonts/NotoSansJP-Thin.woff') format('woff'),
         url('../fonts/NotoSansJP-Thin.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

.cool-link {
    text-decoration: none;
    color: white;
}
