@import "./grid.css";
@import "./nav.css";
@import "./slide.css";
@import "./font.css";

body {
    background-image: url("../images/straatzw.jpg");
    background-size: cover;
    background-attachment: fixed;
}

* {
    zoom: 1.2;
}

div {
    display: block;
}

*, ::after, ::before {
    box-sizing: border-box;
}

.blue-box {
    background-color: #2b5775b7;
    padding: 0 8px;
    border-radius: 6px;
}
.blue-box, p {
    font-size: 18px;
}
.big-text {
    font-size: 25px;
}
.small-text {
    font-size: 15px;
}
.list, .list-item {
    margin-top: 20px;
    margin-bottom: 20px;
}

.inspect-btn {
    background-color: #bfba9d;
    border: none;
    border-radius: 4px;
    margin-top: 10px;
    margin-left: 5px;
    
}

.back-btn {
    position: fixed;
    top: 0;
    right: 20px;
    z-index: 99999;
}

.header-text {
    text-decoration: underline;
    text-transform: uppercase;;
}

.text-title {
    font-size: 44px;
    text-align: center;
    padding-top: 30px;
}