@import "./grid.css";
@import "./nav.css";
@import "./slide.css";
@import "./font.css";

body {
    background-color: burlywood;
}

* {
    zoom: 1.2;
}

div {
    display: block;
}

*, ::after, ::before {
    box-sizing: border-box;
}